*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: norse-bold;
    src: url(./fonts/Norse-Bold.otf);
}

a {
    text-decoration: none;
    color: #596D48;
    font-weight: bold;
}

body {
    display: flex;
    font-family: system-ui, sans-serif;
    background-color: aliceblue;
}

.left-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 30vw;
    background-image: url(./images/fern.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
}

.odin-logo{
    font-family: norse-bold;
    color: white;
    text-align: center;
    margin-top: 25vh;
    font-size: max(72px, 10vh);
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 5px;
}

.logo{
    height: max(72px, 10vh);
    width: auto;
}

.attribution {
    padding: 5px 5px;
}

.right-container{
    height: 100vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    padding-left: 0;
}

.main-text{
    font-size: 20px;
    padding: 100px min(400px, 20vw) 5vh 5vw;
}

.form-container{
    background-color: white;
    box-shadow: 0px 5px 5px darkgrey;
    height: 250px;
    padding-left: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.action-call{
    font-size: 20px;
}

.container-group{
    display: flex;
    justify-content: flex-start;
    gap: max(5vw, 20px);
}

.input-field{
    display: flex;
    flex-direction: column;
}

input{
    padding: 2px;
    border-radius: 2px;
    outline: none;
    border: 1px solid #323233;
}

input:focus{
   outline: none;
   border: solid 1px blue;
   box-shadow: 0 3px 10px darkgray;
}

input:invalid{
    border: solid 1px red;
}

.pass-validation{
    height: 1em;
}

label,.pass-validation{
    font-size: 10px;
    color: rgb(15, 26, 26);
}
.submit-button{
    margin: 2.5vh 5vw;
}

.login-text{
    padding-left: 5vw;
}

.submit-button{
    width: 150px;
    height: 35px;
    font-weight: bold;
    color: white;
    background-color: #596D48;
    border: 0;
    border-radius: 5px;
    box-shadow: 0px 3px 10px darkgrey;
    transition-duration: .2s;
    
}

.submit-button:hover {
    color: #596D48;
    background-color: white;
    border: solid 1px #596D48;
}

.submit-button:active {
    transform: translateY(4px);
}
@media screen and (max-width: 800px) {
    .main-text {
        padding-right: 5vw;
    }

    .left-container{
        background-size: cover;
        height: 110vh;
    }
    .odin-logo{
        font-size: 0;
        background-color: rgb(15, 26, 26, 0)
    }

    .form-container{
        height: 500px;
    }

    .container-group {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    .login-text{
        padding-bottom: 25px;
    }
}